.header__card {
  background: white;
  padding: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 25%);
  transition: all 0.3s ease-in;
  text-align: center;
  width: 180px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-radius: 15px;
}
.header__card::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -105px;
  left: 20px;
  z-index: -1;
  transform: rotate(-20deg);
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.bg__card{
  padding: 1px;
  background: linear-gradient(180deg,#21c8f6,#637bff);
  border-radius: 15px;
}

.header__card svg {
  font-size: 80px;
  margin-bottom: 30px;
}

.header__card svg:first-child {
  color: white;
}

.header{
  font-size: 18px;
  font-family: Poppins,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 1680px) {
  .home__category {
    max-width: unset;
  }
}

@media only screen and (max-width: 992px) {
  .home__category {
    flex-wrap: wrap;
  }

}

@media only screen and (max-width: 768px) {
  .header__card {
    width: 100%;
    box-sizing: border-box;
  }
  .bg__card{
    width: 100%;
    margin: 20px 0;
    height: auto;
  }
  .header__card svg{
    margin-bottom: 0;
  }
}
