.bg {
  /*background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);*/
  padding: 50px;
  margin: auto;
  position: relative;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.header {
  font-size: 20px;
  color: #565656 !important;
}



.header__container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  max-width: 65%;
  min-height: 90vh;
  flex-wrap: wrap;
}

.header__title{
  color:white;
  font-size: 38px;
}

.header__text{
  max-width: 500px;
  color: white;
  line-height: 25px;
}

.home__category {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  max-width: 65%;
  padding: 30px 0 150px 0;
}

@media only screen and (max-width: 1680px) {
  .header__container {
    max-width: unset;
    padding: 20px;
  }

  .home__category {
    max-width: unset;
    padding: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header__container {
    flex-wrap: wrap;
  }

  .home__category {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .header__card {
    width: 100%;
    margin: 20px 0;
  }
}

.section__shape {
  bottom: -8px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.section__fe {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 700px;
  width: 100%;
  align-items: center;
  padding: 50px 0;
}

.section__be {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 700px;
  width: 100%;
  align-items: center;
  padding: 50px 0;
}

@media (max-width: 768px) {
  .section__fe {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bg {
    padding: 40px 10px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
